.heroSection{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}
.heroContent{
    width: 50%;
    padding: 2rem 5rem;
}
.heroContent>h1{
    font-size: var(--h1-font-size);
    color: var(--h1-color);
    font-weight: 600;
    letter-spacing: 1px;
}
.heroContent>h3{
    font-size: 3rem;
    font-weight: 300;
    letter-spacing: 1px;
}
.heroContent>p{
    color: var(--links-color);
    padding: 2rem 0;
    line-height: 1.5;
}
.heroContent>a{
    display: inline-flex;
    border-radius: 1.4rem;
    justify-content: center;
    gap: 5px;
    align-items: center;
    padding: 0.5rem 1rem;
    text-decoration: none;
    background: var(--button-background);
    color: #fff;
}
.heroContent>a>span{
    padding-top: 5px;
}
.heromedia{
    width: 50%;
    position: relative;
}
.heroIcons{
    position: static;
    z-index: 11;
}
.icf{
    top: 5%;
    left: 25%;
    z-index: 11;
}
.ics{
    top: 10%;
    left: 68%;
    z-index: 11;
}
.ics>img{
    width: 3rem !important;
}
.ict{
    top: 75%;
    left: 25%;
    z-index: 11;
}
.icfr{
    top: 70%;
    left: 70%;
    z-index: 11;
}
.icon{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    padding: 1rem 2rem;
    width: 4rem;
    height: 4rem;
    border-radius: 1.4rem;
    background-color: #fff;
    
}
.icon>img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;    
}
.icfr>img{
    width: 1rem;
}
.centerImage{
    width: 6rem;
    perspective: 1000;
}
.centerImage>img{
    max-width: 40% ;
    transform-style: preserve-3d;
}
.heroCircle{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 9;
}
.centerImage{
    height: 25rem;
    width: 25rem;
    border-radius: 50%;
    background: var(--button-background);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
@media only screen and (max-width: 1212px) {
  .heroContent{
    padding-right: 0;
  }
  .heroContent>h3{
    font-size: 2.6rem;
  }
}
@media only screen and (max-width: 940px) {
  .heroContent>h3{
    font-size: 2rem;
  }
}
@media only screen and (max-width: 767px) {
  .heroSection{
    flex-wrap: wrap-reverse;
  }
  .heromedia{
    width: 100%;
  }
  .heroContent{
    width: 100%;
    padding-right: 3rem;
  }
}
@media only screen and (max-width: 580px) {
  .centerImage{
    height: 18rem;
    width: 18rem;
  }
  .centerImage>img{
    max-width: 30%;
  }
  .icon{
    height: 3rem;
  }
  .icon>img{
    width: 1.8rem;
  }
  .ics>img{
    width: 2rem !important;
  }
  .icfr>img{
    width: 1rem;
  }
  .heroContent{
    padding-left: 3rem;
    text-align: center;
  }
  .heroContent>h3{
    font-size: 1.5rem;
  }
}