.numberCount{
    display: flex;
    justify-content: center;
    gap: 8rem;
    align-items: center;
    padding: 1rem 4rem 6rem 4rem;
}
.nCount{
    text-align: center;
}
.nCount>h1{
    font-weight: 900;
    color: var(--h1-color);
}
.nCount>p{
    color: var(--links-color);
    font-weight: 500;
}
@media only screen and (max-width:1024px){
    .numberCount{
        gap: 5rem;
    }
}
@media only screen and (max-width:874px){
    .numberCount{
        display:grid ;
        grid-template-columns: repeat(2,1fr);
        gap: 3rem;
        
    }
}
@media only screen and (max-width:490px){
    .numberCount{
        gap: 1rem;
        padding: 1rem 2rem 6rem 2rem;
    }
}