:root {
  --h1-color:#102f5b;
  --button-background: linear-gradient(to right, #104484, #04a4b4);
  --main-color: #3498db;
  --font-size: 16px;
  --background-color: #cefffe;
  --footer-background-color:var(--h1-color);
  --footer-background:#104484;
  --h1-font-size: 3rem;
  --h3-font-size:1.825rem;
  --p-font-size: 1.25rem;
  --button-font-size:var(--p-font-size);
  --links-font-size:0.875rem;
  --links-font-weight:500;
  --links-color:#64748b;
  --default:#fff;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 50px; 
}
@media only screen and (max-width:500px){
  html {
  scroll-padding-top: 70px; 
}
}
body {
    background: linear-gradient(to left, rgb(216, 227, 231), rgba(161, 203, 216, 0.884));
  }